body {
	background-image: url(../img/bg.png);
	min-height: 768px;
	min-width: 1024px;
}
div.test {
	
	
}
div.content {
	width: 70%;
	text-align: justify;
	padding: 5%;
	background-color: white;
	display: inline-block;
	position: relative;
	left: 10%;
	margin: 50px auto 0;
}
#button {	
	position: fixed;
	left:2%;
	top: 92%;
	display: inline-block;
	font-size: 90%;
  	font-weight: 700;
  	color: rgb(209,209,217);
  	text-decoration: none;
  	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  	padding: .0em 1em;
  	outline: none;
  	border-radius: 3px;
  	background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
  	box-shadow:
   	0 1px rgba(255,255,255,.2) inset,
   	0 3px 5px rgba(0,1,6,.5),
   	0 0 1px 1px rgba(0,1,6,.2);
  	transition: .2s ease-in-out;
}
