body {
	min-height: 1024px;
	min-width: 600px;
	margin: 0;
	background:#f7f7f7;
}
table {
    border-collapse: collapse;
    min-width: 30em;
   	width: 80%;
   	margin-left:1em;
}
table, th, td {
    border: 1px solid black;
    padding: 0.5em;
}
ul {
	list-style: circle outside;
	margin-right:2em;
}
.content_heder {
    padding: 10px;
	text-align: justify;
	background:#151058;
	box-shadow: 0px 2px 50px  #000000;
	color:#dfe3ee;
	height:2em;
}
.content_heder h1 {
	margin:0px;
	text-align: center;
	color:#dfe3ee;
}
.content {
	width:85%;
	text-align: justify;
	background:#ffffff;
	padding-top: 0.5%;
	margin:5px auto;
	box-shadow: 0px 5px 50px  #000000;
	font-family: "PT Sans", "HelveticaNeue-Light", Arial, sans-serif;
}
.content h2, h3, h4 {
	margin-top:0.5em;
	margin-left:2em;
	margin-right:2em;
}
.content p {
	text-align: justify;
	padding:0.3em;
	margin-left:1em;
	margin-right:1em;	
}
.p_footer {
	margin: 0px auto;
	background:#355088;
	padding: 0.5em;
	padding-bottom: 20px;
	box-shadow: 0px 2px 50px  #000000;
	color:#dfe3ee;
	height:2em;
}
.p_footer A {
    color: #ffffff; /* Цвет обычной ссылки */
    text-decoration:none;
}
.p_footer A:visited {
    color: #ffffff; /* Цвет посещенной ссылки */
    text-decoration:none;
}
.p_footer A:hover {
	color: #FF4A07;
 }
.button_home {
   border: 1px solid #151058;
   background: #355088;
   background: -webkit-gradient(linear, left top, left bottom, from(#355088), to(#7184ab));
   background: -webkit-linear-gradient(top, #355088, #7184ab);
   background: -moz-linear-gradient(top, #355088, #7184ab);
   background: -ms-linear-gradient(top, #355088, #7184ab);
   background: -o-linear-gradient(top, #355088, #7184ab);
   background-image: -ms-linear-gradient(top, #355088 0%, #7184ab 100%);
   padding: 5px 13px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #e7e7ee 0 1px 0;
   color: #dfe3ee;
   font-size: 10px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   position: fixed;
   bottom: 1em;
   right: 1em;
   }
.button_home:hover {
   border: 2px solid #a19fbc;
   text-shadow: #e7e7ee 0 1px 0;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #8B0404;
   }
.button_home:active {
   text-shadow: #e7e7ee 0 1px 0;
   border: 2px solid #a19fbc;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }