body {
	min-height: 1024px;
	min-width: 600px;
	margin: 0;
	background:#424242;
}
main {
    width:80%;
	margin: 1.5em auto 0em;
    padding: 1.5em 1.5em;
	background:#FEFFE9;
	box-shadow: 0px 5px 50px  #F19634;
	font-family:'PT Sans Narrow', sans-serif;
	text-align: justify;
}
main header {
    width: 80%;
    min-width: 480px;
    padding: 0 0 .5em;
    position: fixed;
    left: auto;
    top: 0em;
    background: #E4E537;
    background: linear-gradient(15deg, #E4E537, #FB5A32);
    font-family:'PT Sans', sans-serif;
    font-size: 1em;
	color:#424242;
	text-align: center;
}
main header h1 {
    font-size: 1.5em;
}
main header h1, main header p {
    text-align: center;
    margin: 0em;
    padding: 0em;
}
main nav {
    text-align: center;
    background: #E4E537;
    background: linear-gradient(to bottom, #E4E537, #FB5A32);
    box-shadow: 0 .5em 1.5em  #424242;
}
main nav ul {
    margin-top: .7em;

}
main nav li {
    display: inline-block;
    min-width: 65px;
    padding: .3em;
}
li a,li a:hover,li a:visited {
    text-decoration: none;
    color: #3F3F46;
}
li a:hover {
    border-top: .2em double #8B0404;
    color: #8B0404;
}
table {
    border-collapse: collapse;
    min-width: 30em;
   	width: 80%;
   	margin-left:1em;
}
table, th, td {
    border: 1px solid #424242;
    padding: 0.5em;
}
.container{
    display: table;
    width: 90%;
    margin: 0 auto;
}

.pic_view_container img{
    width: 70%;
    display: block;
    margin: 0 auto;
}


.row{
    display: table-row;
    width: 100%;
}
.col{
    display: table-cell;
    width: 32%;
    padding: 1%;
    text-align: center;
}
main .container img{
    display: block;
    margin: 0 auto;
    width: 60%;
}

main .container a{
    color: #EAF8BF;
}

main .container a:hover{
    color: #ECA400;
    font-weight: bold;
    letter-spacing: 1px;
}
ul {
	list-style: circle outside;
	margin-right:2em;
}
footer {
    width: 80%;
	margin: 0 auto;
    padding: .5em 1.5em;
	background:#E5C44A;
    background: linear-gradient(to bottom, #E4E537, #FB5A32);
	box-shadow: 0px 5px 25px  #E5C44A;
    text-align: center;
	color:#424242;
    font-family:'PT Sans', sans-serif;
    font-size: 1em;
    font-style: italic;
}
footer p {
    margin: 0em auto;
}
footer a, footer a:visited {
    color: white; /* Цвет обычной и посещенной ссылки */
    text-decoration:none;
}
footer a:hover {
    color: #8B0404; /*Color link in sight*/
}
.menu_li {
    background-image: url(../img/menu_li.png);
    background-repeat: no-repeat;
    background-position: right 50%;
}
#button_home {
   border: 1px solid #151058;
   background: #E5C44A;
   background: -webkit-gradient(linear, left top, left bottom, from(#FF4A07), to(#E5C44A));
   background: -webkit-linear-gradient(top, #FF4A07, #E5C44A);
   background: -moz-linear-gradient(top, #FF4A07, #E5C44A);
   background: -ms-linear-gradient(top, #FF4A07, #E5C44A);
   background: -o-linear-gradient(top, #FF4A07, #E5C44A);
   background-image: -ms-linear-gradient(top, #FF4A07 0%, #E5C44A 100%);
   padding: 5px 10px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #a0a0a0 0 1px 0;
   color: #424242;
   font-size: 1em;
   font-family: 'PT Sans Narrow', sans-serif;
   text-decoration: none;
   vertical-align: middle;
   position: fixed;
   bottom: 1em;
   right: 1em;
}
#button_home:hover {
   border: 1px solid #e7e7ee;
   text-shadow: #e7e7ee 0 1px 0;
   background: #FF4A07;
   background: -webkit-gradient(linear, left top, left bottom, from(#FF4A07), to(#E4E537));
   background: -webkit-linear-gradient(top, #FF4A07, #E4E537);
   background: -moz-linear-gradient(top, #FF4A07, #E4E537);
   background: -ms-linear-gradient(top, #FF4A07, #E4E537);
   background: -o-linear-gradient(top, #FF4A07, #E4E537);
   background-image: -ms-linear-gradient(top, #FF4A07 0%, #E4E537 100%);
   color: #8B0404;
}
#button_home:active {
   text-shadow: #e7e7ee 0 1px 0;
   border: 1px solid #e7e7ee;
   background: #FF4A07;
   background: -webkit-gradient(linear, left top, left bottom, from(#FF4A07), to(#E4E537));
   background: -webkit-linear-gradient(top, #FF4A07, #E4E537);
   background: -moz-linear-gradient(top, #FF4A07, #E4E537);
   background: -ms-linear-gradient(top, #FF4A07, #E4E537);
   background: -o-linear-gradient(top, #FF4A07, #E4E537);
   background-image: -ms-linear-gradient(top, #FF4A07 0%, #E4E537 100%);
   color: #e7e7ee;
}