body {
	min-height: 1024px;
	min-width: 600px;
	margin: 0;
	background:#424242;
}
.wrapper {
    width:80%;
    /*position: relative;*/
    /*top: 3.5em;*/
	margin: 1.5em auto;
    padding: 1.5em 1.5em;
	background:#FEFFE9;
	box-shadow: 0px 5px 50px  #F19634;
	font-family:'PT Sans Narrow', sans-serif;
	text-align: justify;
}
.pat_header {
    width: 80%;
	height:auto;
    position: fixed;
    left: auto;
    top: 0em;
    background: #E4E537;
    background: linear-gradient(15deg, #E4E537, #FB5A32);
	box-shadow: 0px 2px 50px  #424242;
    font-family:'PT Sans', sans-serif;
    font-size: 1em;
	color:#424242;
	text-align: center;
}
.pat_header h1 {
    font-size: 1.5em;
}
.pat_header h1, .pat_header p {
    text-align: center;
    margin: 0em;
    padding: 0.1em;
}
table {
    border-collapse: collapse;
    min-width: 30em;
   	width: 80%;
   	margin-left:1em;
}
table, th, td {
    border: 1px solid #424242;
    padding: 0.5em;
}
ul {
	list-style: circle outside;
	margin-right:2em;
}
footer > section > p {
    margin: 0px auto;
	background:#E5C44A;
	padding: 0.5em;
	padding-bottom: 20px;
	box-shadow: 0px 2px 50px  white;
	color:#424242;
	height:2em;
}
footer > section > p a {
    color: #424242; /* Цвет обычной ссылки */
    text-decoration:none;
}
footer > section > p a:hover {
    color: #FF4A07; /*Color link in sight*/
}
footer > section > p a:visited {
    color: #424242; /* Цвет посещенной ссылки */
    text-decoration:none;
}
.button_home {
   border: 1px solid #151058;
   background: #E5C44A;
   background: -webkit-gradient(linear, left top, left bottom, from(#FF4A07), to(#E5C44A));
   background: -webkit-linear-gradient(top, #FF4A07, #E5C44A);
   background: -moz-linear-gradient(top, #FF4A07, #E5C44A);
   background: -ms-linear-gradient(top, #FF4A07, #E5C44A);
   background: -o-linear-gradient(top, #FF4A07, #E5C44A);
   background-image: -ms-linear-gradient(top, #FF4A07 0%, #E5C44A 100%);
   padding: 5px 13px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #a0a0a0 0 1px 0;
   color: #424242;
   font-size: 13px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   position: fixed;
   bottom: 1em;
   right: 1em;
   }
.button_home:hover {
   border: 1px solid #e7e7ee;
   text-shadow: #e7e7ee 0 1px 0;
   background: #FF4A07;
   background: -webkit-gradient(linear, left top, left bottom, from(#FF4A07), to(#E4E537));
   background: -webkit-linear-gradient(top, #FF4A07, #E4E537);
   background: -moz-linear-gradient(top, #FF4A07, #E4E537);
   background: -ms-linear-gradient(top, #FF4A07, #E4E537);
   background: -o-linear-gradient(top, #FF4A07, #E4E537);
   background-image: -ms-linear-gradient(top, #FF4A07 0%, #E4E537 100%);
   color: #8B0404;
   }
.button_home:active {
   text-shadow: #e7e7ee 0 1px 0;
   border: 1px solid #e7e7ee;
   background: #FF4A07;
   background: -webkit-gradient(linear, left top, left bottom, from(#FF4A07), to(#E4E537));
   background: -webkit-linear-gradient(top, #FF4A07, #E4E537);
   background: -moz-linear-gradient(top, #FF4A07, #E4E537);
   background: -ms-linear-gradient(top, #FF4A07, #E4E537);
   background: -o-linear-gradient(top, #FF4A07, #E4E537);
   background-image: -ms-linear-gradient(top, #FF4A07 0%, #E4E537 100%);
   color: #e7e7ee;
   }