body {
	min-height: 768px;
	min-width: 1600px;
	margin: 0;
}
div.content {
	width: 70%;
	text-align: justify;
	padding: 5%;
	background-color: white;
	}
table {
    border-collapse: collapse;
    width: 97%;
}
table, th, td {
    border: 2px solid black;
}